html, body {
    background-color:  	#edf2f4;
    color: 	#2b2d42;
    font-size: 105%;
    margin: 0;
    white-space:nowrap;
    line-height: 1.7em;
}
kbd {
	display: inline-block;
	margin: 0 .1em;
	padding: .1em .6em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.4;
	color: #242729;
	text-shadow: 0 1px 0 #FFF;
	background-color: #e1e3e5;
	border: 1px solid #adb3b9;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
	white-space: nowrap;
}
kbd.qgisbtn {
  border-radius: 0.5px;
  box-shadow: 0 0px 0 rgba(12,13,14,0.2),0 0 0 0px #FFF inset;
  padding: 1px 2px 1;
  border: 1px solid black;
  background-color: #e1e3e5;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 600px;
}
p {
    width: 85vw;
}
table, th, td {
    border: 1px solid black;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color: #fff;
}
table th {
    background-color: rgb(42, 153, 61);
    color: rgb(3, 3, 3);
}
header {
    background-image: url("../images/topBar.png");
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    background-size:100vw 10vh;
    width: 100%;
    height: 10vh;
    z-index: 500;
}
.sidenav {
    left: 0;
    top: 10vh;
    width: 15vw;
    position: fixed;
}
.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    background-color:  #2b2d42;
    height: 100vh;
    overflow: auto;
  }
  .sidenav ul li a {
    display: block;
    color: #d0efb1;
    background-color:#2b2d42;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
  }
  
  .sidenav ul li .active {
    background-color: #d0efb1;
    color: #2b2d42;
  }
  
  .sidenav ul li a:hover:not(.active) {
    background-color: #8d99ae;
    color: #b3d89c;
  }
.content {
    
    left: 15.5vw;
    width: 85vw;
    position: relative;
    padding: 5px;
    overflow-y: auto;
}
.content p {
    word-wrap: break-word;
    width: 85vw;
}
.content h1 {
    top: 0;
}

